In [1]:
import pandas as pd
import numpy as np

In [8]:
a = pd.DataFrame(np.arange(12).reshape(-1,2))

In [12]:
a

    0   1
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
5  10  11

In [13]:
a.rolling(3).mean()

     0    1
0  NaN  NaN
1  NaN  NaN
2  2.0  3.0
3  4.0  5.0
4  6.0  7.0
5  8.0  9.0