## W3 4-5 Make_New_Columns

### 4. assign으로 새로운 컬럼 만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A':range(1,11),'B':np.random.randn(10)})
df

    A         B
0   1 -0.348711
1   2 -1.105131
2   3 -1.139381
3   4 -0.796614
4   5 -0.222972
5   6  0.371943
6   7 -1.880298
7   8 -0.941155
8   9 -0.084351
9  10 -0.905053

In [3]:
df.assign?

# Assign new columns to a DataFrame

In [6]:
df.assign(ln_A = lambda x : np.log(x.A))

    A         B      ln_A
0   1 -0.348711  0.000000
1   2 -1.105131  0.693147
2   3 -1.139381  1.098612
3   4 -0.796614  1.386294
4   5 -0.222972  1.609438
5   6  0.371943  1.791759
6   7 -1.880298  1.945910
7   8 -0.941155  2.079442
8   9 -0.084351  2.197225
9  10 -0.905053  2.302585

In [7]:
df.assign(ln_A = lambda x : np.log(x.A)).head()

   A         B      ln_A
0  1 -0.348711  0.000000
1  2 -1.105131  0.693147
2  3 -1.139381  1.098612
3  4 -0.796614  1.386294
4  5 -0.222972  1.609438

In [8]:
df['ln_A'] = np.log(df.A)

In [9]:
df['ln_A']

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
5    1.791759
6    1.945910
7    2.079442
8    2.197225
9    2.302585
Name: ln_A, dtype: float64

## 5. qcut으로 binning,bucketing 하기

In [11]:
pd.qcut?

In [13]:
pd.qcut(df.A,3,labels = ['good','median','bad'])

0      good
1      good
2      good
3      good
4    median
5    median
6    median
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): ['good' < 'median' < 'bad']

In [16]:
pd.qcut(df.B,2,labels = ['good','bad'])

0     bad
1    good
2    good
3     bad
4     bad
5     bad
6    good
7    good
8     bad
9    good
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

- max(axis = 1)/min(aixs = 1)

In [18]:
df.max(axis = 0) # 행에서 최대값 가져오기

A       10.000000
B        0.371943
ln_A     2.302585
dtype: float64

In [19]:
df.min(axis = 0) # 행에서 최소값 가져오기

A       1.000000
B      -1.880298
ln_A    0.000000
dtype: float64

- clip()

In [22]:
df['A'].clip(lower = -10,upper = 10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [28]:
df.B

0   -0.348711
1   -1.105131
2   -1.139381
3   -0.796614
4   -0.222972
5    0.371943
6   -1.880298
7   -0.941155
8   -0.084351
9   -0.905053
Name: B, dtype: float64

In [26]:
df['B'].clip(lower = 1,upper=3)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: B, dtype: float64

- abs()

In [29]:
df['B']

0   -0.348711
1   -1.105131
2   -1.139381
3   -0.796614
4   -0.222972
5    0.371943
6   -1.880298
7   -0.941155
8   -0.084351
9   -0.905053
Name: B, dtype: float64

In [30]:
df['B'].abs() # 절대값으로 변환

0    0.348711
1    1.105131
2    1.139381
3    0.796614
4    0.222972
5    0.371943
6    1.880298
7    0.941155
8    0.084351
9    0.905053
Name: B, dtype: float64