In [26]:
import random
import numpy as np

a = list(np.arange(1,23))

temp = []
b = []
d = []
while len(b) < len(a):
    print(len(b) < len(a))
    random.shuffle(a)
    c = random.choice(a[:5])
    if c not in b:
        temp.append(c)
        b.append(c)
        if len(temp) == 4:
            d.append(temp)
            temp = []

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [33]:
import random
import numpy as np

a = list(np.arange(1,23))
i = 0
temp = []
b = []
d = []
e = [4,4,4,5,5]
while len(b) < len(a):
    random.shuffle(a)
    c = random.choice(a[:5])
    if c not in b:
        temp.append(c)
        b.append(c)
        if len(temp) == e[i]:
            d.append(temp)
            temp = []
            i += 1
d

[[12, 17, 2, 22],
 [16, 13, 18, 7],
 [6, 14, 11, 3],
 [9, 4, 20, 15, 19],
 [10, 5, 1, 8, 21]]

In [29]:
for i in range(len(a)):

[[19, 2, 11, 1], [12, 14, 3, 10], [5, 17, 20, 4, 15], [21, 22, 6, 7, 9]]

AttributeError: 'list' object has no attribute 'replace'

In [35]:
a

[18, 8, 21, 7, 19, 20, 12, 11, 13, 9, 22, 16, 14, 2, 6, 3, 5, 10, 15, 1, 4, 17]

In [37]:
import pandas as pd
pd.to_csv(pd.DataFrame(d)

    0   1   2   3     4
0  12  17   2  22   NaN
1  16  13  18   7   NaN
2   6  14  11   3   NaN
3   9   4  20  15  19.0
4  10   5   1   8  21.0

In [41]:
n = pd.DataFrame(d)