In [1]:
import time
import random
import numpy as np
import pandas as pd

In [2]:
# 낚시터 구현하기

a = pd.read_excel('./물고기표.xlsx')
a

     No1  No2     물고기      가격
0    2.0  6.0  가는꼬리쥐치  1631.0
1    1.0  4.0    가다랑어  2917.0
2    3.0  5.0     가라지  1203.0
3    3.0  4.0   가면놀래기  1751.0
4    1.0  4.0     가숭어  4483.0
..   ...  ...     ...     ...
746  2.0  4.0  흰배환도상어  2116.0
747  2.0  4.0    흰붕장어  7953.0
748  1.0  3.0   흰점꺼끌복  6207.0
749  2.0  4.0    히메성대  9362.0
750  3.0  6.0     히메치  1074.0

[751 rows x 4 columns]

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751 entries, 0 to 750
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No1     751 non-null    float64
 1   No2     751 non-null    float64
 2   물고기     751 non-null    object
 3   가격      751 non-null    float64
dtypes: float64(3), object(1)
memory usage: 23.6+ KB

In [4]:
a.describe()

              No1         No2           가격
count  751.000000  751.000000   751.000000
mean     1.972037    4.516644  5384.980027
std      0.795330    1.107274  2610.049134
min      1.000000    3.000000  1010.000000
25%      1.000000    4.000000  3047.000000
50%      2.000000    5.000000  5311.000000
75%      3.000000    5.000000  7672.000000
max      3.000000    6.000000  9990.000000

In [5]:
# 낚시터 구현하기

def game_fishing_center():
    print('신중하게 낚시를 시작합니다.')
    
    fishing = df = pd.read_excel('./물고기표.xlsx')
    return fishing
print(game_fishing_center())

신중하게 낚시를 시작합니다.
     No1  No2     물고기      가격
0    2.0  6.0  가는꼬리쥐치  1631.0
1    1.0  4.0    가다랑어  2917.0
2    3.0  5.0     가라지  1203.0
3    3.0  4.0   가면놀래기  1751.0
4    1.0  4.0     가숭어  4483.0
..   ...  ...     ...     ...
746  2.0  4.0  흰배환도상어  2116.0
747  2.0  4.0    흰붕장어  7953.0
748  1.0  3.0   흰점꺼끌복  6207.0
749  2.0  4.0    히메성대  9362.0
750  3.0  6.0     히메치  1074.0

[751 rows x 4 columns]

In [6]:
# 낚시터 구현하기

def game_fishing_center():
    print('신중하게 낚시를 시작합니다.')
    
    fishing = df = pd.read_excel('./물고기표.xlsx')
    
    choose_fish = np.array(fishing).reshape(-1,4)
    return choose_fish
print(game_fishing_center())

신중하게 낚시를 시작합니다.
[[2.0 6.0 '가는꼬리쥐치' 1631.0]
 [1.0 4.0 '가다랑어' 2917.0]
 [3.0 5.0 '가라지' 1203.0]
 ...
 [1.0 3.0 '흰점꺼끌복' 6207.0]
 [2.0 4.0 '히메성대' 9362.0]
 [3.0 6.0 '히메치' 1074.0]]

In [7]:
# 낚시터 구현하기

def game_fishing_center():
    print('신중하게 낚시를 시작합니다.')
    
    fishing = df = pd.read_excel('./물고기표.xlsx')
    
    choose_fish = np.array(fishing).reshape(-1,4)
    
    choose_fish_num = random.randint(0,len(fishing)) # 0부터 끝 행까지 반복
    choose_fishh_waiting_num = random.randint(choose_fish[choose_fish_num][0],choose_fish[choose_fish_num][1])
    return choose_fishh_waiting_num
    
print(game_fishing_center())

신중하게 낚시를 시작합니다.
3

In [22]:
# 낚시터 구현하기
def game_fishing_center(df,id,pw):
    print('신중하게 낚시를 시작합니다.')
    
    fishing = df = pd.read_excel('./물고기표.xlsx')
    
    choose_fish = np.array(fishing).reshape(-1,4)
    
    choose_fish_num = random.randint(0,len(fishing)) # 0부터 끝 행까지 반복
    choose_fishh_waiting_num = random.randint(choose_fish[choose_fish_num][0],choose_fish[choose_fish_num][1])
    
    #time.sleep(choose_fishh_waiting_num) # 대기시간 추가
    
    print('낚였습니다. 월척이길 바랍니다')
    print('축하합니다.{} 님이 낚은 물고기는 {} 입니다.'.format('정영훈',choose_fish[choose_fish_num][2]))
    
    # DB 저장 / 엑셀 저장
    df.loc[ len(df)]=[id,pw,choose_fish[choose_fish_num][2],1,choose_fish[choose_fish_num][-1],'미판매']
    df.to_excel('./텍스트게임.xlsx',sheet_name='낚였다 게임',index=None)

In [10]:
def game_store (df, id, pw): 
    print("현재 판매하지 않은 물고기는 {}개 입니다.".format(len(df[(df['ID']==id)&(df['현황']=='미판')])))
    미판_index = df[(df['ID']==id)&(df['현황']=='미판')].index
    
    if len(미판_index) != 0:  # 판매 안 된게 있으면, 
        for i in range( len(미판_index)): 
            print("{} 물고기를 판매했어요.".format(df[(df['ID']==id)&(df['현황']=='미판')]['물고기'][미판_index[i]]))
            
        # DB 저장 / 엑셀 저장 
            df.loc[미판_index[i]]= [ id, pw, 
                                    df[(df['ID']==id)&(df['현황']=='미판')['물고기'][미판_index[i]]],
                                    df[(df['ID']==id)&(df['현황']=='미판')['수량'] [미판_index[i]]],
                                    df[(df['ID']==id)&(df['현황']=='미판')['가격'] [미판_index[i]]],
                                    "판매"]
    else:  # 빈 경우 
        print("다 팔았네요, GOOD JOB")
 
    df.to_excel("./data/text_game.xlsx", sheet_name="낚시게임", index=None)

In [11]:
# 낚시터 구현하기 
def game_fishing_center(df, id, pw): 
    print("자자자~~~ 신중하게 낚시를 시작합니다. 월척하세요~")
    
    fishing = pd.read_excel("./data/물고기표.xlsx")
    
    choose_fish=np.array(fishing).reshape(-1, 4)
    
    choose_fish_num = random.randint( 0, len(fishing)) # 0부터 전체 행까지 반복
    choose_fish_waiting_num = random.randint(choose_fish[choose_fish_num][0], choose_fish[choose_fish_num][1])
    
    time.sleep(choose_fish_waiting_num) # 대기시간 추가 
    
    print("야~ 낚았네요! 월척이길 바래요")
    print("[축]{} 님이 낚은 물고기는 {} 입니다.".format("닥터윌", choose_fish[choose_fish_num][2]))
    
 
    df.loc[ len(df) ] = [id, pw, choose_fish[choose_fish_num][2], 1, choose_fish[choose_fish_num][-1], "미판" ]
    df.to_excel( "C:/Users/student/Desktop/code/data/text_game.xlsx", sheet_name="낚시게임", index=None )

game_fishing_center(df, 'id', 'pw')

NameError: name 'df' is not defined

In [23]:
df = pd.read_excel('./텍스트게임.xlsx')
game_fishing_center(df, 'cotos', 'cotos')

신중하게 낚시를 시작합니다.
낚였습니다. 월척이길 바랍니다
축하합니다.정영훈 님이 낚은 물고기는 밑성대 입니다.

ValueError: cannot set a row with mismatched columns

In [31]:
# 게임 플레이 및 사용자 정보 구하기

def game_play(id,pw):
    
    while True:
        df = pd.read_excel('./텍스트게임.xlsx')
        
        돈 = df[(df['ID']==id)&(df['현황']=='판매')]['가격'].sum
        물고기_종류 = len(np.unique(df[df['ID']==id]['물고기']))
        잡은물고기 = df[df['ID']==id]['수량'].sum()
        등급 = len(df[(df['ID']==id)&(df['현황']=='판매')])
        
        if 등급 <= 10:
            등급 = '낚시 준비생'
        elif 등급 > 10 and 등급 <= 20:
            등급 = '낚시 사생팬'
        elif 등급 > 20 :
            등급 = '낚시 고인물'
        
        print('안녕하세요. {} 님 / 레벨 : {} / 가지고 있는 금액 : {} / 잡은 물고기 종류: {} / 잡은 물고기 수량: {}'
        .format(id,등급,돈,물고기_종류,잡은물고기))
        
        선택 = int(input('낚시하기(1) / 삼정이용(2) / 게임종료 (3)'))
        
        if 선택 == 1: # 낚시터
            game_fishing_center(df,id,pw)
        elif 선택 == 2: # 상점
            game_store(df,id,pw)
        elif 선택 == 3 : # 게임종료
            break

In [ ]:
# 계정정보 

계정정보 = [ ]

df = pd.read_excel("./텍스트게임.xlsx")

계정 = int(input("로그인(1)/회원가입(2)"))

if 계정 == 1: # 로그인 
    계정정보.append(input("ID 입력:"))
    계정정보.append(int(input("패스워드 입력:")))
    
    if 계정정보[0] in df['ID'].unique() and 계정정보[1] in df['PW'].unique():   # unique() :중복제거
        print("게임을 시작합니다.")
        game_play(계정정보[0], 계정정보[1])
    else:
        print("ID 또는 패스워드가 없어요")
        pass

elif 계정 == 2:   # 회원 가입 
    계정정보.append( input("ID 입력"))
    계정정보.append(int(input("패스워드 입력:")))
    
    print("[축하합니다] 회원가입 완료")
    print("게임의 세계로 오실까요?")
    game_play(계정정보[0], 계정정보[1])

In [37]:
# 낚시터 구현하기 

def game_fishing_center(df, id, pw): 
    print("자자자~~~ 신중하게 낚시를 시작합니다. 월척하세요~")
    
    fishing = pd.read_excel("./물고기표.xlsx")
    
    choose_fish=np.array(fishing).reshape(-1, 4)
    
    choose_fish_num = random.randint( 0, len(fishing)) # 0부터 전체 행까지 반복
    choose_fish_waiting_num = random.randint(choose_fish[choose_fish_num][0], choose_fish[choose_fish_num][1])
    
    time.sleep(choose_fish_waiting_num) # 대기시간 추가 
    
    print("야~ 낚았네요! 월척이길 바래요")
    print("[축]{} 님이 낚은 물고기는 {} 입니다.".format("닥터윌", choose_fish[choose_fish_num][2]))
    
    # db 저장 / 엑셀 저장 
    df.loc[ len(df) ] = [id, pw, choose_fish[choose_fish_num][2], 1, choose_fish[choose_fish_num][-1], "미판" ]
    df.to_excel( "./텍스트게임.xlsx", sheet_name="낚시게임", index=None )

In [38]:
# 상점 구현 

def game_store (df, id, pw): 
    print("현재 판매하지 않은 물고기는 {}개 입니다.".format(len(df[(df['ID']==id)&(df['현황']=='미판')])))
    미판_index = df[(df['ID']==id)&(df['현황']=='미판')].index
    
    if len(미판_index) != 0:  # 판매 안 된게 있으면, 
        for i in range( len(미판_index)): 
            print("{} 물고기를 판매했어요.".format(df[(df['ID']==id)&(df['현황']=='미판')]['물고기'][미판_index[i]]))
            
        # DB 저장 / 엑셀 저장 
            df.loc[미판_index[i]]= [ id, pw, 
                                    df[(df['ID']==id)&(df['현황']=='미판')['물고기'][미판_index[i]]],
                                    df[(df['ID']==id)&(df['현황']=='미판')['수량'] [미판_index[i]]],
                                    df[(df['ID']==id)&(df['현황']=='미판')['가격'] [미판_index[i]]],
                                    "판매"]
    else:  # 빈 경우 
        print("다 팔았네요, GOOD JOB")
 
    df.to_excel("./data/텍스트게임.xlsx", sheet_name="낚시게임", index=None)