# 출력하기
# 기본 출력
- print(value1, value2, ..., )

In [1]:
# hello 춝력하기
print('hello')

hello

In [3]:
# hello python 출력하기
print('hello' 'python')

hellopython

In [4]:
# 계산식 출력하기
print('1+1',1+1,sep = '=')

1+1=2

# 구분자 지정
- print(value1,value2,.....sep='구분자')

In [7]:
# ,로 구분(hello,python)

print('hello','python',sep = ',')

hello,python

In [8]:
# 공백없이 붙여서 출력 (1+1 = 2)
print('1+1=',1+1,sep='')

1+1=2

# 끝문자 지정
- print(value1, value2,....., end = '끝문자')

In [9]:
# 공백으로 끝내기 (안녕하세요, 반갑습니다)
print('안녕하세요, 반갑습니다.',end = '')

안녕하세요, 반갑습니다.

In [10]:
# !!로 끝내기(안녕하세요!!반갑습니다!!)
print('안녕하세요', end='!!')
print('반갑습니다', end='!!')

안녕하세요!!반갑습니다!!

# 여러 줄 한번에 출력하기
- 홑따옴표 세개(''') 혹은 쌍따옴표 세개(""")로 묶는다.

In [11]:
print('자세히 보아야 예쁘다.')
print('오래 보아야 사랑스럽다.')
print('너도 그렇다.')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [12]:
print('''
자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.
''')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [13]:
print("""
자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.
""")

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

# 주석달기
- 프로그램에 대한 설명을 적을 때, 코드의 실행을 잠시 막아둘 때 주석을 사용한다.
- 파이썬에서는 샵('#') 을 주석 기호로 사용한다.

In [14]:
## 주석에 대한 코드입니다 ##
print(1) # 주석
# print(2)
print(3)

1
3

# 들여쓰기
- 파이썬에서는 들여쓰기 자체가 문법입니다.
- 파이썬 들여쓰기 방법은 공백2칸, 공백4칸 등 여러가지 방법이 있지만 보통 공백 4칸을 사용합니다.

In [16]:
print('hello1')
 print(hello2)

IndentationError: unexpected indent (Temp/ipykernel_24204/684044483.py, line 2)

# 오류 해석하기
- 파이썬에서는 대소문자를 구분한다.

In [17]:
Print('hello')

NameError: name 'Print' is not defined

# 따옴표의 짝이 맞아야 한다.

In [2]:
print('hello'')

hello

# 괄호의 짝이 맞아야 한다

In [19]:
print('hello'))

SyntaxError: unmatched ')' (Temp/ipykernel_24204/1647225470.py, line 1)

변수 만들기   \
변수에 값 할당하기   \
변수명 = 변수값   \
변수에 값이 할당될 때 변수값의 자료형에 따라 변수의 자료형이 결정된다.   \

In [3]:
name = 'james'
age = 21
height = 176.1
ischild = age < 20

변수 값, 자료형 출력하기   \
변수에 접근할 때는 변수명을 사용한다.   \
변수값 출력 : print(변수명)   \
변수자료형 출력 : print(type(변수명))   \

In [4]:
print(name,type(name))

james <class 'str'>

In [5]:
print(age,type(age))

21 <class 'int'>

In [6]:
print(height,type(height))

176.1 <class 'float'>

In [7]:
print(ischild,type(ischild))

False <class 'bool'>

쌍따옴표나 홑따옴표가 포함되어 있는 문자열 사용하기   \
홑따옴표가 포함되어 있는 문자열 사용하기   \
'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.   \

In [9]:
a = "'낮말은 새가 듣고 밤말은 쥐가 듣는다'"
print(a)

'낮말은 새가 듣고 밤말은 쥐가 듣는다'

In [10]:
b = '"시간은 금"이라는 말이 있다'
print(b)

"시간은 금"이라는 말이 있다

키보드로 변수에 값 입력받기   \
input( )   \
input으로 입력받은 값은 무조건 str   \

In [12]:
age = int('20')
type(age)

int

In [14]:
age = str(age)
type(age)

str

In [18]:
a = int(input('나이:'))
print(type(a))

나이:50
<class 'int'>

산술연산

In [19]:
a, b = 3,4

print('a+b = ',a+b)
print('a-b = ',a-b)
print('a*b = ',a*b)
print('a/b = ',a/b)
print('a%b = ',a%b)
print('a**b = ',a**b)

a+b =  7
a-b =  -1
a*b =  12
a/b =  0.75
a%b =  3
a**b =  81

문자열계산

In [20]:
# 문자열 더하기(문자열 연결하기)
a = 'good'
b = 'morning'
print(a + b)

goodmorning

In [22]:
# 문자열 곱하기
s = 'ha'
s * 3

'hahaha'

In [26]:
# 문자열과 숫자형 더하기
english = 60
result  = '영어점수 : ' + str(english)
print(result)

영어점수 : 60

할당연산자

In [27]:
x = 10
x += 20
x

30

In [28]:
x = 3
y  = 5
x *= x+y
x

24

f스트링으로 출력하기

In [29]:
name = input('이름')
print(name,'님 안녕하세요?')

이름정영훈
정영훈 님 안녕하세요?

In [30]:
print(f'{name}님 안녕하세요')

정영훈님 안녕하세요

In [32]:
age = int(input('나이:'))
print('나이는',age,'살이군요, 내년이면 ',age + 1,'살이 되시겠네요')
print(f'나이는{age}살이군요, 내년이면 {age + 1}살이 되시겠네요')

나이:50
나이는 50 살이군요, 내년이면  51 살이 되시겠네요
나이는50살이군요, 내년이면 51살이 되시겠네요

In [33]:
a = int(input('첫번째 숫자'))
b = int(input('두번째 숫자'))

print(a,'+',b,'=',a+b)

첫번째 숫자1
두번째 숫자2
1 + 2 = 3

In [37]:
print(f'{a} + {b} = {a+b}')

1 + 2 = 3

연습문제
 - 화씨 온도를 입력받아 섭씨온도로 변환하는 프로그램을 작성해보세요

In [39]:
# 화씨온도 입력
f = float(input('화씨온도'))

# 섭씨 온도 계산
c  = (f - 32) * 5/9

print('화씨온도 {0} ----> 섭씨온도 {1}'.format(f,c))

화씨온도50
화씨온도 50.0 ----> 섭씨온도 10.0

문자열 인덱싱
- 양수 인덱스 사용하기

In [40]:
a = 'Hello world'

print(a[0])

print(a[6])

print(a[10])

H
w
d

음수 인덱스 사용하기

In [41]:
a = 'Hello world'

print(a[-11])
print(a[-5])
print(a[-1])

H
w
d

In [42]:
범위밖 인덱스를 사용?

Object `사용` not found.

In [ ]:
범위밖 인덱스를 사용

In [43]:
a[15]

IndexError: string index out of range

In [44]:
a[-15]

IndexError: string index out of range

문자열 슬라이싱
- 양수 인덱스로 슬라이싱

In [47]:
a = 'hello world'
# hello
print(a[0:5])
# world
print(a[6:11])

hello
world

- 음수 인덱스로 슬라이싱

In [51]:
# hello
print(a[-11:-6])

# world
print(a[-5:])

hello
world

첫번째와 마지막 인덱스는 생략가능

In [52]:
a = 'Hello world'

# hello
print(a[:5])
#world
print(a[6:])

#all
print(a[:])

Hello
world
Hello world

    - 한문자씩 건너뛰어 출력하기   
: 간격을 마이너스로 하면 역순으로 출력

In [53]:
a = 'Hello World'
print(a[::-1])

dlroW olleH

문자열 함수   \
문자열 교체하기   \
문자열.replace(찾을문자열, 교체할문자열)   \

In [55]:
a = '나는 초코우유 좋아. 초코우유 최고'

# 초코 -> 딸기

print(a.replace('초코','딸기'))

나는 딸기우유 좋아. 딸기우유 최고

문자의 위치 찾기
- 문자열 find(문자)

In [63]:
a = 'hello, python'

# e
print(a.find('e'))

# l
print(a.find('l'))
print(a.find('l',3))

1
2
3

소문자로 변환하기
- 문자열.lower()

In [65]:
a = 'HELLO PYTHON'
a.lower()

'hello python'

대문자로 변환하기
- 문자열.upper()

In [66]:
a.lower().upper()

'HELLO PYTHON'

문자열 나누기
* 문자열.split(구분자)

In [68]:
phone = '010-123-4567'
phone.split('-')

['010', '123', '4567']

In [69]:
email = 'gi93008@naver.com'
email.split('@')

['gi93008', 'naver.com']

연습문제
- 사용자의 영문 이름을 입력받아 성과 이름 순서를 바꾸어서 출력하는 프로그램을 작성하세요.   \
성과 이름은 공백으로 구분합니다.

In [72]:
# 사용자의 영문이름 입력받기 (성과 이름은 공백으로 구분)
full_name = input('영문이름(성과 이름은 공백으로 구분하세요):')

index = full_name.find(' ')
first = full_name[:index]
second = full_name[index+1:]

print(second,first)

영문이름(성과 이름은 공백으로 구분하세요):Jeong Yeong Hoon
Yeong Hoon Jeong